* {
    color: black;
}

.navbar {
    position: relative;
    width: 80%;
    display: flex;
}

.navbar .navbar-nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 30%;
}

header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}

.preview-info {
    position: absolute;
    display: flex;
    align-items: center;
    background: linear-gradient(76.27deg, #BF61B6 -146.94%, rgba(220, 223, 255, 0.9) 81.14%);;
    width: 100%;
    min-height: 700px;
}

.preview-info .content {
    display: flex;
    align-items: center;
}

.preview-info-image img {
    height: 50vh;
}